<div class="app container">
  <h1>Todo App</h1>
  <div class="form container">
    <input id="todo-input" type="text" name="content" placeholder="I have to..." />
  </div>
  <div class="list container">
    <ul class="todos">
    </ul>
  </div>
</div>